
<br><br><br><br><br><br>
<div class="row text-center" id="contact" style="background-image:url(https://s-media-cache-ak0.pinimg.com/originals/b3/fc/78/b3fc782c37bdb1d2561564fc28a07e4d.jpg);color:#308e70;">

<h1 class="text-center">Contact</h1>

<div class="col-md-4">
 <!-- general queries -->
<p >For general queries <br>
Write us at<br>
saisanjanreddy@gmail.com<br>
8074533455</p>


<div class="container text-right">
 <!-- existing queries -->
<p>For existing queries <br>
Write us at<br>
kamal@gmail.com<br>
9087980880</p>





<div class="container text-center">
<i class="fa fa-map-marker" aria-hidden="true"></i>
 <!-- office address -->
<p>Rain tree park <br>
Beside toll plaza<br>
Vijayawada,Andhra pradesh<br>
</p>

</div></div></div></div>